*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
.remove{
  width: 12%;

}
.allList>li>input{
  font-weight: 500;
  font-size: 25px;
}
.App{
  width: 100%;
  background-color: #f5e8f5;

  height: 100vh;

}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.navbar{
  margin-top: 10px;
  width: 95%;
 position: fixed;
 
  display: flex;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  height: 80px;
margin-left: 22px;
 
  border-radius: 13px;
background-color: #bdfdff;
padding: 0 30px;
}
.inputOfText{
  font-size: 30px;
}

.navbarh1 {
  display: flex;
  color: #222;
justify-content: center;
align-items: center;
  font-size: 30px;
  cursor: pointer;
  width: 100%;

}
.midsection{

 display: flex;
 width: 80%;
 margin :0 auto;
 height: 80vh; 
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 
}

.bothItem{
border: 1px solid black;
padding: 10px;
width: 100%;
border-radius: 5px;
height: 100%;
background-color: #bbbbbb;


margin-top: 110px;
}
.addItem{
  
 
  width: 100%;
  height: 20%;
  

}
.fullList{
  width: 100%;

  height: 80%;
  overflow-y: scroll;
}

.first{
  display: flex;

  align-items: center;
  width: 100%;
  height: 100%;

  top: -20%;
  right: 10%;
 
  justify-content: center;

}

.first>form{

  width: 100%;
align-items: center;
justify-content: center;
/* margin-left: 80px; */
display: flex;  
  
}
.first>form >input{
align-items: center;
justify-content: center;
  padding: 10px;
  margin: 2px;
  width: 270px;
  border-radius: 20px;
  max-height: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  
}
button{
  padding: 10px;
  margin: 2px;
  padding: 5px;
  white-space: nowrap;
  font-weight: 600;
  width: 80px;
  border-radius: 10px;
  flex-wrap: wrap;
  border: none;
  cursor: pointer;
}


button:hover {
  background-color: black;
  color: #fff;
  transition: all 0.2 ease-in-out;

}
.allList{

  max-height: 10vh;
  
}
.allList >li>input{
  padding: 5px;
  border-radius: 2px;
  border:none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.allList >li{

list-style: none;
display: flex;

display: flex;
align-items: center;
max-height: 50px;
justify-content: center;
height: 50px;
width: 80%;
border-radius: 10px;
margin: 0 auto;
background-color: #61dafb;
}

  input[type='checkbox'] { 

    margin: 5px;
    margin-right: 5px;

   }
   .allList>li>input:nth-child(2){
  outline: none;
  background-color: none;
   }
.allList>li:hover {
  list-style: none;
  display: flex;

  display: flex;
  align-items: center;
  max-height: 50px;
  justify-content: center;
  height: 50px;
width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  background-color:  #13c5f7;
   }


.checkedtrue
{
  display: flex;
  text-decoration: line-through;
}
.checkedfalse{
  display: flexboxcheckedtrue;
  text-decoration: none;
}












@media screen and (max-width: 1000px){
 
  
 
.bothItem{

  padding: 10px;
  width: 100%;
  height: 100%;

  margin-top: 110px;
  }
 
 
  .first{
    display: block;

    align-items: center;
    width: 100%;
    height: 100%;

  }
  .first>form >input{
    padding: 5px;
    margin: 1px;
    border-radius: 20px;
    
    
  }
  
button{
  padding: 10px;
  margin: 2px;
  font-weight: 100;
  font-size: 10px;
  width: 50px;
  border-radius: 10px;
  flex-wrap: wrap;
  border: none;
  cursor: pointer;
}

input{
  width: 90%;
}
.first>form{

  width: 100%;
margin-left: 0;
  
  
}
  
.allList >li{

  list-style: none;
  display: flex;
  display: flex;
  align-items: center;
  max-height: 50px;
  justify-content: center;
  height: 50px;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  background-color:  #13c5f7;
  }
  input{
    width: 70%;
  }
  .allList>li>input{
    font-weight: 500;
    font-size: 15px;
  }
  
}
@media screen and (max-width: 800px) {
  body {
     width:720px;
  }
}